# الأساسيات والاتصال
requests>=2.28.0

# معالجة البيانات والجداول
pandas>=1.5.0
numpy>=1.23.0

# الذكاء الاصطناعي وتعلم الآلة
scikit-learn>=1.2.0
xgboost>=1.7.0

# واجهة المستخدم (UI)
streamlit>=1.20.0

# أدوات سحب البيانات (Web Scraping)
beautifulsoup4>=4.11.0
cloudscraper>=1.2.69
lxml>=4.9.0
